@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;

    display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 1fr;
	grid-gap: 20px;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	color: white;
	background-color: rgba(90, 111, 255, 0.4);
	padding: 0 50px;
}

main {
    justify-self: center;
    align-self: center;

	width: calc(100vw - 40px);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 1fr;
}

.quiz-theme {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16pt;

	height: 70px;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.line-above-heading, .line-below-heading {
	width: 100%;
	
	border: 1px black solid;
	border-radius: 5px;
}

#quiz-walkthrough-form {
	position: relative;

	margin: 30px 0;
	padding: 10px 30px;

	justify-self: center;
	align-self: center;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	background-color: rgba(90, 112, 255, 0.295);
	border-radius: 5px;
}

#quiz-walkthrough-form * {
	margin: 10px 0;
}

#quiz-walkthrough-form span {
	margin: 0;
}

.question-content {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 20pt;
}

input[type=text] {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14pt;
	
	width: 300px;
	height: 36px;
	
	outline: 0;
	border-width: 0 0 2px;
	border-color: grey;
	background-color: transparent;
}

input {
	width: 25px;
	height: 25px;
}

.label-for-answer {
	width: 300px;
	display: flex;
	flex-direction: row;
}

#quiz-walkthrough-form .answer-text {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14pt;

	margin-left: 10px;
}

#quiz-walkthrough-form button {
	margin-left: 0;
	margin-right: auto;
}