<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Questions</title>
        <link rel="stylesheet" th:href="@{/css/universal-style.css}">
        <link rel="stylesheet" th:href="@{/css/question-management-style.css}">
        <link rel="stylesheet" th:href="@{/css/ripple-effect.css}">
        <script th:inline="javascript">
	        //first declaration
	        let buttons;
	        let showEditorFormButton;
        </script>
    </head>
    <body>
        <div class="fullscreen-absolute-position" th:insert="~{fragments/question-tools :: question-creator}"></div>
		<div class="fullscreen-absolute-position" th:insert="~{fragments/question-tools :: question-editor}"></div>
		<div class="fullscreen-absolute-position" th:insert="~{fragments/warning :: delete-warning}"></div>
        <div class="body">
	        <div class="navbar">
		        <h1>Question-management</h1>
		        <div th:replace="~{fragments/form-login-or-logout :: login-or-logout}"></div>
		    </div>
	        <main>
		        <div class="create-button-block">
			        <hr class="line-above-create-button">
			        <div>
			            	<button class="ripple-effect submit-button" th:attr="onclick=|showQuestionCreatorForm('${quiz.id}')|">Create question</button>
			            <h2 th:text="'Quiz theme: ' + ${quiz.theme}"></h2>
			        </div>
		            <hr class="line-below-create-button">
	            </div>
	            <div class="question" th:each="question : ${quiz.questions}">
		            <div class="question-body">
			            <div class="content">
				            Content:
			                <h3 th:text="${question.content}"></h3>
			            </div>
			            <div class="question-type">
				            Type:
			                <p th:text="${question.type}"></p>
			            </div>
			            <div class="right-answer">
				            Right answer:
			                <p th:text="${question.rightAnswer}"></p>
			            </div>
		                <div>
			                Wrong answers:
			                <ul>
				                <li th:each="wrongAnswer : ${question.wrongAnswers}" th:text="${wrongAnswer}"></li>
			                </ul>
		                </div>
		                <div class="buttons">
			                <button class="ripple-effect edit-button show-editor-form-button">
			                    Edit
			                </button>
			                <script type="text/javascript" th:inline="javascript">
				                buttons = document.getElementsByClassName("show-editor-form-button");
				                showEditorFormButton = buttons[buttons.length - 1];
				                showEditorFormButton.addEventListener("click", () => {
					                showQuestionEditorForm([[${quiz.id}]], [[${question.id}]], [[${question.content}]], [[${question.type}]], [[${question.rightAnswer}]], [[${question.wrongAnswers}]]);
				                }, false);
			                </script>
			                <form method="POST" th:action="@{/question-management/delete}">
			                    <input type="hidden" name="quiz_id" th:value="${quiz.id}">
			                    <input type="hidden" name="question_id" th:value="${question.id}">
			                    <button class="ripple-effect delete-button">Delete question</button>
			                </form>
		                </div>
	                </div>
	            </div>
	            <a id="return-to-quizzes-list" th:href="@{/quiz-management}"><button class="ripple-effect return-button">Return to your quizzes</button></a>
	        </main>
        </div>
	    <script type="text/javascript" th:src="@{/scripts/form-effect.js}"></script>
	    <script type="text/javascript" th:src="@{/scripts/ripple-effect.js}"></script>
        <script type="text/javascript" th:src="@{/scripts/warning-of-delete.js}"></script>
        <script type="text/javascript" th:src="@{/scripts/question_management.js}"></script>
    </body>
</html>
